.Atm {
  display: flex;
  flex-flow: column;
  width: 450px;
  height: 100vh;
  box-sizing: border-box;
  margin: auto;
  padding-top: 50px;

  .atm-header {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    border-radius: 15px;
    background-color: $dark-blue;
    padding: 10px 20px;

    .atm-sign {
      width: 70%;
      display: block;
      margin: auto;
    }

    .atm-sign-graffiti {
      position: absolute;
      width: 50%;
      top: 20%;
      left: 40%;
    }
  }

  .atm-body {
    width: 85%;
    flex: 1;
    background-color: $white;
    margin: auto;

    border-top: 5px solid $gray-2;

    .atm-screen {
      >div {
        display: inline-block;
        vertical-align: bottom;
      }

      .right-line, .left-line {
        width: 30px;
        height: 3px;
        position: absolute;
        top: 50%;
        z-index: 1;
      }

      .right-line {
        right: 0;
        transform: translate(100%, -50%);
      }

      .left-line {
        left: 0;
        transform: translate(-100%, -50%);
      }

      .buttons {
        width: 20%;

        .button {
          position: relative;
          width: 60%;
          height: 25px;
          background-color: $gray-3;
          border-radius: 5px;
          border-top: solid 2px $gray-4;
          border-bottom: solid 2px $gray-1;
          cursor: pointer;
          margin: 10px auto;
          box-sizing: border-box;
          &:active {
            background-color: darken($gray-3, 7);
          }

          .right-line, .left-line {
            background-color: $gray-1;
          }
        }
      }

      .screen {
        position: relative;
        width: 60%;
        height: 225px;
        background-color: $light-blue;
        border: 5px solid $gray-5;
        box-sizing: border-box;
        z-index: 2;
        overflow: hidden;

        &, * {
          font-family: "Press Start 2P", system-ui;
          color: white;
        }

        .main-text, .typed-text {
          font-size: 13px;
          text-align: center;
          user-select: none;
        }

        .labels-left, .labels-right {
          display: inline-block;
          position: absolute;
          bottom: 0;

          .label {
            position: relative;
            height: 35px;

            >div {
              padding-top: 7px;
              span {
                vertical-align: middle;
                font-size: 8px;
                padding: 0 5px;
                user-select: none;
              }
            }

            .right-line, .left-line {
              background-color: white;
              z-index: 1;
            }
          }
        }

        .labels-left {
          left: 15px;
          text-align: left;
        }
        .labels-right {
          right: 15px;
          text-align: right;
        }
      }
    }

    .atm-footer {
      position: relative;
      width: 60%;
      margin: auto;
      .systems {
        position: absolute;
        top: 5px;
        right: 0;
      }
      .sticker {
        position: absolute;
        top: -20px;
        left: -30px;
        z-index: 3;
      }
    }

    .keypad {
      position: relative;
      top: 80px;
      width: 35%;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 3px;

      .key {
        position: relative;
        aspect-ratio: 1 / 1;
        text-align: center;
        cursor: pointer;
        background-color: $gray-3;
        border-radius: 5px;
        border-top: solid 2px $gray-4;
        border-bottom: solid 2px $gray-1;
        &:active {
          background-color: darken($gray-3, 7);
        }

        span {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-family: sans-serif;
          font-weight: bold;
          font-size: 16px;
          user-select: none;
        }
      }
    }
  }
}
